<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>  <!-- Link to Home -->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>  <!-- Link to Login -->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>  <!-- Link to Profile -->
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>  <!-- Routed content will go here -->
</div>
